@model IEnumerable<SportTransfer4.Models.Transfer>

@{
    ViewBag.Title = "Transfers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transfers</h2>
<p>
    @Html.ActionLink("New Transfer", "New", "Transfers", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Transfer</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transfer in Model)
        {
        <tr>
            <td>@Html.ActionLink(transfer.Name, "Edit", "Transfers", new { id = transfer.Id }, null)</td>
            <td>@transfer.Genre.Name</td>
        </tr>
        }
    </tbody>
</table>