@model IEnumerable<SportTransfer4.Models.Transfer>

@{
    ViewBag.Title = "Transfers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transfers</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Transfer</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transfer in Model)
        {
        <tr>
            <td>@Html.ActionLink(transfer.Name, "Details", "Transfers", new { id = transfer.Id }, null)</td>
            <td>@transfer.Genre.Name</td>
        </tr>
        }
    </tbody>
</table>