<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/509e105a-bd94-4895-bff7-c438c0e0aff4/resourcegroups/SportTransfer420190610035727ResourceGroup/providers/Microsoft.Web/sites/SportTransfer420190610035727</ResourceId>
    <ResourceGroup>SportTransfer420190610035727ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sporttransfer420190610035727.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sporttransfer420190610035727.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SportTransfer420190610035727</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SportTransfer420190610035727</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sporttransfer420190610035727dbserver.database.windows.net,1433;Initial Catalog=SportTransfer420190610035727_dbserver;User ID=deary@sporttransfer420190610035727dbserver;Password=Batamania12!" Name="Data Source=tcp:sporttransfer420190610035727dbserver.database.windows.net,1433;Initial Catalog=SportTransfer420190610035727_dbserver;User Id=deary@sporttransfer420190610035727dbserver;Password=Batamania12!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SportTransfer4.Models.ApplicationDbContext, SportTransfer4" MigrationConfiguration="SportTransfer4.Migrations.Configuration, SportTransfer4" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sporttransfer420190610035727dbserver.database.windows.net,1433;Initial Catalog=SportTransfer420190610035727_dbserver;User Id=deary@sporttransfer420190610035727dbserver;Password=Batamania12!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>