@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome Aboard.</h1>
    <p class="lead">The most reliable place for trading or update transfers for whole sport players around the world.</p>
    <p><a href="https://twitter.com/ketibansapi" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Offer Player</h2>
        <p>
            The agents around the worlds can loan the player that available currently 
            and agree to join in any other club with a real requirements. Without complicated transfers.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See Agents</h2>
        <p>Take a look the agents that available to do the transfers. Even, register user as a member or agents of this platform. It's totally free.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See Transfers</h2>
        <p>Current available players can be showed in this platform along with their specific sport. Take a look before make an offer for this.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>